/* theme color */
html {
    scroll-behavior: smooth;
}

.btn-primary {
    background: $color-primary;
    border-color: $color-primary;
    color: $color-text;

    &:active, &:focus {
        background: $color-primary !important;
        border-color: $color-primary !important;
    }

    &:hover {
        background: $color-primary;
        box-shadow: 0 0 30px 8px rgba(248, 167, 231, 0.24);
    }

    &:disabled {
        background: $color-disable;
    }
}

.btn-outline-primary {
    color: $color-primary;
    border-color: $color-primary;

    &:hover:not(:disabled), &:active, &:focus {
        color: white;
        border-color: $color-active !important;
        background-color: $color-active !important;
    }

    &:disabled {
        color: $color-disable;

        &:hover {
            border-color: $color-disable !important;
        }
    }
}

.btn-link {
    color: $color-primary;

    &:hover, &:active, &:focus {
        color: $color-active;
    }

    &:disabled {
        color: $color-disable;
    }
}

.page-item.active button.page-link {
    background-color: $color-primary;
    border-color: $color-primary;
}

.page-item button.page-link {
    color: $color-primary;
}

/* Checkbox */
.custom-control-input:checked ~ .custom-control-label::before {
    border-color: $color-primary !important;
    background-color: $color-primary !important;
}
.custom-control-label {
    color: black;
}

.header .nav-item a.nav-link {
    color: $color-text;

    &:active {
        color: $color-text;
    }

    &:hover:not(.dropdown-toggle) {
        color: $color-primary;
    }

    &.dropdown-toggle:hover {
        color: $color-primary;
    }
}

.card-text, .modal-body {
    white-space: pre-line;
}

div.b-table-sticky-header {
    max-height: none;
}

img.card-img-right {
    width: 300px;
    height: 100%;
    object-fit: contain;
    position: absolute;
}

h2, div, a, b {
    color: $color-text;
    letter-spacing: 0.5px;
    font-weight: 200;
}

h3, h4.card-title {
    color: $color-active;
}
p.card-text {
    color: black
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: $color-primary;
    }
}

@media only screen and (max-width: 768px) {
    img.card-img-right {
        display: none;
    }
}

/* custom carousel shit to place the caption below the image*/
div.carousel-caption {
    bottom: -100px;
    color: black;
}

div.carousel-item {
    cursor: pointer;
}

div.carousel-inner {
    width: 100%;
    padding-bottom: 75px;
}
