/* theme color */
@font-face {
    font-family: fpsaFont;
    src: url(/Pragmatica-ExtraLight.ttf);
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, div, a, button, p, span {
    font-family: fpsaFont;
}

h1, h2, h3, h4 {
    font-weight: 800;
}


.btn-primary {
    background: $color-primary;
    border-color: $color-primary;
    color: $color-text;

    &:active, &:focus {
        background: $color-primary !important;
        border-color: $color-primary !important;
    }

    &:hover {
        background: $color-primary;
        box-shadow: 0 0 30px 8px rgba(248, 167, 231, 0.24);
    }

    &:disabled {
        background: $color-disable;
    }
}

.btn-secondary {
    background: $color-active;
    border-color: $color-active;
    color: $color-text;

    &:active, &:focus {
        background: $color-active !important;
        border-color: $color-active !important;
    }

    &:hover {
        background: $color-active;
        box-shadow: 0 0 30px 8px rgba(248, 167, 231, 0.24);
    }

    &:disabled {
        background: $color-disable;
    }
}

.btn-outline-primary {
    color: $color-primary;
    border-color: $color-primary;

    &:hover:not(:disabled), &:active, &:focus {
        color: white;
        border-color: $color-active !important;
        background-color: $color-active !important;
    }

    &:disabled {
        color: $color-disable;

        &:hover {
            border-color: $color-disable !important;
        }
    }
}

.btn-link {
    color: $color-primary;

    &:hover, &:active, &:focus {
        color: $color-active;
    }

    &:disabled {
        color: $color-disable;
    }
}

.page-item.active button.page-link {
    background-color: $color-primary;
    border-color: $color-primary;
}

.page-item button.page-link {
    color: $color-primary;
}

/* Checkbox */
.custom-control-input:checked ~ .custom-control-label::before {
    border-color: $color-primary !important;
    background-color: $color-primary !important;
}


.card-text, .modal-body {
    white-space: pre-line;

    &__text-cap {
        width: calc(100% - 300px);
    }
}

div.b-table-sticky-header {
    max-height: none;
}

img.card-img-right {
    width: 250px;
    height: 100%;
    object-fit: contain;
    position: absolute;
}

.title--purple {
    color: #5D0089;
}

div.dark-background h2,
div.dark-background div,
div.dark-background a:not(.dropdown-item) {
    color: $color-text !important;
    letter-spacing: 0.5px;
    font-weight: 200;

    &:active {
        color: $color-text;
    }

    &:focus {
        color: $color-primary;
    }

    &:hover:not(.dropdown-toggle) {
        color: $color-primary;
    }

    &.dropdown-toggle:hover {
        color: $color-primary;
    }
}

h3, h4.card-title {
    color: $color-active;
}
p.card-text {
    color: black
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: $color-primary;
    }
}

@media only screen and (max-width: 768px) {
    img.card-img-right {
        display: none;
    }
}

div.clickable table tbody tr {
    cursor: pointer;
}

/* custom carousel shit to place the caption below the image*/
div.carousel-caption {
    bottom: -100px;
    color: black;
}

div.carousel-item {
    cursor: pointer;
}

div.carousel-inner {
    width: 100%;
    padding-bottom: 75px;
}

div.page__heading {
    height: 150px;
    background: $color-active;
    color: $color-text;

    &-text {
      text-align: right;
    }
}

@media screen and (max-width: 768px) {
    div.page__heading {
      height: 225px;
  
      &-text {
        text-align: left;
      }
    }
  }