/* theme color */
$--color-primary: #7D52C9;
$--color-active: #431f82;

.btn-primary {
    background: $--color-primary;
    color: white;

    &:hover {
        background: $--color-active;
    }

    &:disabled {
        background: $--color-primary;
    }
}

.btn-outline-primary {
    color: $--color-primary;
    border-color: $--color-primary;

    &:hover, &:active, &:focus {
        color: white;
        border-color: $--color-active !important;
        background-color: $--color-active !important;
    }
}

.btn-link {
    color: $--color-primary;

    &:hover, &:active, &:focus {
        color: $--color-active;
    }
}

.page-item.active button.page-link {
    background-color: $--color-primary;
    border-color: $--color-primary;
}

.page-item button.page-link {
    color: $--color-primary;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: $--color-primary !important;
    background-color: $--color-primary !important;
}

.header .nav-item a.nav-link {
    color: white;

    &:active {
        color: white;
    }

    &:hover:not(.dropdown-toggle) {
        color: $--color-active;
    }
}

.card-text, .modal-body {
    white-space: pre-line;
}

div.b-table-sticky-header {
    max-height: none;
}

img.card-img-right {
    width: 300px;
    height: 100%;
    object-fit: contain;
    position: absolute;
}

h2 {
    color: $--color-primary;
}

a {
    color: $--color-primary;

    &:hover {
        color: $--color-active;
    }
}

@media only screen and (max-width: 768px) {
    img.card-img-right {
        display: none;
    }
}

/* custom carousel shit to place the caption below the image*/
div.carousel-caption {
    bottom: -100px;
    color: black;
}

div.carousel-item {
    cursor: pointer;
}

div.carousel-inner {
    width: 100%;
    padding-bottom: 75px;
}
